/** Fonts **/
@font-face {
  font-family: 'Montserrat Regular';
  src: url('/fonts/Montserrat-Regular.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Bold';
  font-weight: 700;
  src: url('/fonts/Montserrat-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Italic';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/Montserrat-Italic.ttf');
  font-display: swap;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'Montserrat Regular';
}

footer {
  padding-top:1em;
  padding-bottom: 1em;
  border-top: 1px solid black;
}

#blog {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

strong {
  font-family: 'Montserrat Bold';
}

em {
  font-family: 'Montserrat Italic';
}